{% extends "base.html.twig" %}


{% block body %}

    <div class="position-absolute top-0 start-0"></div>
    <a  href="{{ path("app_beneficios") }}" class="stretched-link">游Volver</a>
    </div>


    <section class="page-section" id="republic">

        <div class="container">

            <div class="row text-center">
                <div class="col-md-5 col-sm-7">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-1"></h4>
                    <img src="{{ asset("galeria/pets.webp")}}"  width="90%" alt="">
                    <br>
                    contacto@tiendapet.pe <br>

                    +51 941 133 528 <br>

                    <a  href="{{ path("app_beneficios") }}" class="stretched-link">https://tiendapet.pe/</a>
                    <br>
                </div>
                <br><br>
                <div class="col-md-6 col-sm-5">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                    <h2 style="	color: darkblue;  text-align: left;  font: oblique bold 200% cursive;" class="my-1">Pet's Republic</h2>
                    <h4 style="	color: darkblue; text-align: left;  font: oblique bold 100% cursive;" class="my-1">춰15% de descuento en tu compra por la web!</h4>
                    <h6 style=" text-align: left; ">Pensar en desarrollar snacks para mascotas es una forma de devolverles todo el amor que hemos recibido a lo largo de nuestras vidas.
                        Buscamos generar momentos donde el cari침o sea la 칰nica ley v치lida entre las mascotas y sus due침os. Hicimos realidad una marca con productos 100% naturales, sin qu칤micos ni preservantes para engreir y cuidar a nuestra familia de 4 patas.
                        Somos 100% peruanos y buscamos trabajar exclusivamente con insumos nacionales, garantizando la cadena de suministro y apoyando a los negocios locales.</h6>
                    <h4 style="	color: darkblue;  text-align: left; font: oblique bold 100% cursive;" class="my-1">Beneficio</h4>
                    <h6 style=" text-align: left; ">* 15% de descuento en el total de tu compra por la web.</h6>
                    <h4 style="	color: darkblue;  text-align: left;  font: oblique bold 100% cursive;" class="my-1">쮺칩mo usar el beneficio?</h4>
                    <h6 style=" text-align: left; ">Comun칤cate con Pet's Republic, identif칤cate como miembro Club WUF con tu DNI y accede al cup칩n de descuento.</h6>
                    <h5 style="	color: darkblue; text-align: left; font: oblique bold 70% cursive;" class="my-1">Restricciones</h5>
                    <h6 style=" text-align: left; font: oblique bold 60% cursive; ">Descuento v치lido solo para afiliados, se verificar치 si el cliente se encuentra afiliado o no. El cup칩n de descuento es v치lido solo para compras en la web oficial de Pe'ts Republic (no en otros establecimientos). *Club WUF no se responsabiliza por el servicio prestado por parte de este comercio..</h6>


                    <div class="text-center">
                        <br>
                        <h4 style="	color: darkblue; text-align: center; font: oblique bold 150% cursive;" class="my-1">쯈uieres este beneficio?</h4>
                        <br>
                        <div  role="group" aria-label="Third group">
                            <button type="button" class="btn btn-primary">SUSCRIBIRME</button>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

