{% extends "base.html.twig" %}


{% block body %}

    <div class="position-absolute top-0 start-0"></div>
    <a  href="{{ path("app_beneficios") }}" class="stretched-link">🡠Volver</a>
    </div>


    <section class="page-section" id="republic">

        <div class="container">

            <div class="row text-center">
                <div class="col-md-5 col-sm-7">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-1"></h4>
                    <img src="{{ asset("galeria/bio.webp")}}"  width="90%" alt="">
                    <br><br>

                    contacto@tiendapet.pe <br>

                    +51 941 133 528 <br>

                    <a  href="{{ path("app_beneficios") }}" class="stretched-link">https://tiendapet.pe/</a>
                </div>
                <br><br>
                <div class="col-md-6 col-sm-5">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                    <h2 style="	color: darkblue;  text-align: left;  font: oblique bold 200% cursive;" class="my-1">Biobites</h2>
                    <h4 style="	color: darkblue; text-align: left;  font: oblique bold 100% cursive;" class="my-1">¡30% de dscto. en tu primera compra y 15% en las siguientes!</h4>
                    <h6 style=" text-align: left; ">Alimento 100% Natural, Completo y Balanceado para perros Adultos en Mantenimiento. La fórmula Biobites le brinda a nuestros perros los nutrientes necesarios sin deficiencias ni excesos. Tiene beneficios añadidos para su salud por medio de nuestra fórmula nutracéutica que contiene: Carne de Res, Linaza, Quinua, Kelp, Levaduras, Yuca Schidigera y Stevia. ¡Somos Peruanos!</h6>
                    <br>
                    <h4 style="	color: darkblue;  text-align: left; font: oblique bold 100% cursive;" class="my-1">Beneficio</h4>
                    <h6 style=" text-align: left; ">*30% de dscto. en tu primera compra <br>
                        *15% de dscto. en tus siguientes compras.</h6>
                    <h4 style="	color: darkblue;  text-align: left;  font: oblique bold 100% cursive;" class="my-1">¿Cómo usar el beneficio?</h4>
                    <h6 style=" text-align: left; ">Comunícate por Whatsapp o redes sociales con Biobites, presentate como miembro Club WUF con tu número de DNI y accede a tu descuento.</h6>
                    <h5 style="	color: darkblue; text-align: left; font: oblique bold 70% cursive;" class="my-1">Restricciones</h5>
                    <h6 style=" text-align: left; font: oblique bold 60% cursive; ">Delivery no incluido, se tiene que coordinar directamente a través de las redes sociales, o Whatsapp.
                        Para Provincias, coordinar con agencia logística de su preferencia y con pago por adelantado.</h6>
                    <br><br>

                    <div class="text-center">
                        <h4 style="	color: darkblue; text-align: center; font: oblique bold 150% cursive;" class="my-1">¿Quieres este beneficio?</h4>
                        <br>
                        <div  role="group" aria-label="Third group">
                            <button type="button" class="btn btn-primary">SUSCRIBIRME</button>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

