{% extends "base.html.twig" %}


{% block body %}

    <div class="position-absolute top-0 start-0"></div>
    <a  href="{{ path("app_beneficios") }}" class="stretched-link">🡠Volver</a>
    </div>


    <section class="page-section" id="republic">

        <div class="container">

            <div class="row text-center">
                <div class="col-md-5 col-sm-7">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-1"></h4>
                    <img src="{{ asset("galeria/tienda.webp")}}"  width="90%" alt="">
                    <br><br><br>

                    contacto@tiendapet.pe <br>

                    +51 941 133 528 <br>

                    <a  href="{{ path("app_beneficios") }}" class="stretched-link">https://tiendapet.pe/</a>
                </div>
                <br><br>
                <div class="col-md-6 col-sm-5">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                    <h2 style="	color: darkblue;  text-align: left;  font: oblique bold 200% cursive;" class="my-1">Tienda Pet</h2>
                    <h4 style="	color: darkblue; text-align: left;  font: oblique bold 100% cursive;" class="my-1">¡Hasta 15% de descuento en tu compra y delivery gratis!</h4>
                    <h6 style=" text-align: left; ">Tienda Pet, tienda virtual para mascotas, ofrece alimento seco, húmedo y medicado de las mejores marcas del mercado para perros y gatos. También ofrece artículos de higiene, cuidado y accesorios para mascotas.</h6>
                    <br><br>
                    <h4 style="	color: darkblue;  text-align: left; font: oblique bold 100% cursive;" class="my-1">Beneficio</h4>
                    <h6 style=" text-align: left; ">* 5% de descuento en Alimento seco Hill’s Science Diet
                        * 5% de descuento en alimento seco Hill’s Prescription Dietbr <br>
                        * 5% de descuento en alimento seco Brit Premium <br>
                        * 10% de descuento en alimento seco 1st Choice <br>
                        * 15% de descuento en alimento seco 1st Choice Kitten <br>
                        * 15% de descuento en alimento seco 1st Choice Senior Cat 2.72 Kg <br>
                        * 10% de descuento en Arena para gatos Pronature Holistic Litter 6 Kg <br>
                        * Delivery gratis por compras mayores a S/45.00 (consultar disponibilidad de zonas de reparto).</h6>
                    <h4 style="	color: darkblue;  text-align: left;  font: oblique bold 100% cursive;" class="my-1">¿Cómo usar el beneficio?</h4>
                    <h6 style=" text-align: left; ">Contáctate con Tienda Pet por Whatsapp o email, identifícate como miembro Club WUF con tu DNI y accede a tu cupón de descuento.</h6>
                    <h5 style="	color: darkblue; text-align: left; font: oblique bold 70% cursive;" class="my-1">Restricciones</h5>
                    <h6 style=" text-align: left; font: oblique bold 60% cursive; ">Máximo dos ítems iguales por pedido. Descuentos aplican sobre productos que se encuentren en stock. Consultar en la página web. Si no hay productos en stock, se pueden pedir con 48h de anticipación, los descuentos se mantendrán. Zonas de reparto: Cercado de Lima, Callao (Consultar zonas), Ate (Consultar zonas), Barranco, Breña, Chorrillos, Jesús María, La Molina, La Victoria (Consultar zonas), Lince, Los Olivos, Magdalena, Miraflores, Pueblo Libre, San Borja, San Isidro, San Martín de Porres, San Miguel, Santiago de Surco.
                        *Club WUF no se responsabiliza por el servicio brindado por parte de este comercio.</h6>


                    <div class="text-center">
                        <h4 style="	color: darkblue; text-align: center; font: oblique bold 150% cursive;" class="my-1">¿Quieres este beneficio?</h4>
                        <br>
                        <div  role="group" aria-label="Third group">
                            <button type="button" class="btn btn-primary">SUSCRIBIRME</button>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

